# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [25]:
import pandas as pd
import numpy as np

# Seu código aqui

anomalia = [-0.8,-.27,.12,-.03,.26,.40,1.02]
anomaliaTermicaSemIndex = pd.Series(anomalia)
anomaliaTermicaSemIndex

0   -0.80
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [27]:

# seu código aqui
anomaliaTermicaComIndex = pd.Series([-0.8,-.27,.12,-.03,.26,.40,1.02],
                                 index=[1900,1920,1940,1960,1980,2000,2020])
anomaliaTermicaComIndex

1900   -0.80
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [28]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui

pd.Series(dic_temperaturas)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [60]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui

pd.DataFrame(arr)

             0           1           2
0    95.153338  104.445427  101.627366
1    94.163744   93.438686   91.801102
2   103.483760  109.224525   94.506818
3    87.381013   85.813840   91.058619
4   102.422873   93.127100   86.501934
5   107.452368  116.817655   99.384418
6    96.002651  101.009909   87.779670
7   120.064470   91.939560  123.783885
8   100.690281  110.768082   92.808951
9   105.326453  115.578879   89.649702
10   86.735585   84.905510  104.131817
11   93.993436  117.127392  114.264631
12  119.626316  103.596787  115.895447
13   98.028540  107.804413   79.903127
14  105.396063  112.257154   86.176272
15  101.302135  108.035987   97.599364
16   96.000783  104.159310   98.456867
17  106.538112   93.965700  103.552436
18   87.738863  104.431569   87.691257
19  109.081455  106.807987   93.197928

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [61]:
#seu código aqui,
arrOrganizado = pd.DataFrame(arr, columns=['x1','x2','x3'], index=['1', '2', '3', '4', '5','6','7','8','x','10','11','12','13','14','15','16','17','18','19','20'])

pd.DataFrame(arrOrganizado)

            x1          x2          x3
1    95.153338  104.445427  101.627366
2    94.163744   93.438686   91.801102
3   103.483760  109.224525   94.506818
4    87.381013   85.813840   91.058619
5   102.422873   93.127100   86.501934
6   107.452368  116.817655   99.384418
7    96.002651  101.009909   87.779670
8   120.064470   91.939560  123.783885
x   100.690281  110.768082   92.808951
10  105.326453  115.578879   89.649702
11   86.735585   84.905510  104.131817
12   93.993436  117.127392  114.264631
13  119.626316  103.596787  115.895447
14   98.028540  107.804413   79.903127
15  105.396063  112.257154   86.176272
16  101.302135  108.035987   97.599364
17   96.000783  104.159310   98.456867
18  106.538112   93.965700  103.552436
19   87.738863  104.431569   87.691257
20  109.081455  106.807987   93.197928

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [62]:
# seu código aqui

arrOrganizado['Média'] = (arrOrganizado['x1'] + arrOrganizado['x2'] + arrOrganizado['x3']) / 3
arrOrganizado

            x1          x2          x3       Média
1    95.153338  104.445427  101.627366  100.408710
2    94.163744   93.438686   91.801102   93.134511
3   103.483760  109.224525   94.506818  102.405034
4    87.381013   85.813840   91.058619   88.084491
5   102.422873   93.127100   86.501934   94.017302
6   107.452368  116.817655   99.384418  107.884814
7    96.002651  101.009909   87.779670   94.930743
8   120.064470   91.939560  123.783885  111.929305
x   100.690281  110.768082   92.808951  101.422438
10  105.326453  115.578879   89.649702  103.518344
11   86.735585   84.905510  104.131817   91.924304
12   93.993436  117.127392  114.264631  108.461820
13  119.626316  103.596787  115.895447  113.039517
14   98.028540  107.804413   79.903127   95.245360
15  105.396063  112.257154   86.176272  101.276496
16  101.302135  108.035987   97.599364  102.312495
17   96.000783  104.159310   98.456867   99.538987
18  106.538112   93.965700  103.552436  101.352083
19   87.738863  104.431569   87.691257   93.287230
20  109.081455  106.807987   93.197928  103.029123

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [63]:
arrOrganizado['log_med'] = np.log(arrOrganizado['Média'])

pd.DataFrame(arrOrganizado)

            x1          x2          x3       Média   log_med
1    95.153338  104.445427  101.627366  100.408710  4.609249
2    94.163744   93.438686   91.801102   93.134511  4.534045
3   103.483760  109.224525   94.506818  102.405034  4.628936
4    87.381013   85.813840   91.058619   88.084491  4.478296
5   102.422873   93.127100   86.501934   94.017302  4.543479
6   107.452368  116.817655   99.384418  107.884814  4.681064
7    96.002651  101.009909   87.779670   94.930743  4.553148
8   120.064470   91.939560  123.783885  111.929305  4.717867
x   100.690281  110.768082   92.808951  101.422438  4.619294
10  105.326453  115.578879   89.649702  103.518344  4.639749
11   86.735585   84.905510  104.131817   91.924304  4.520965
12   93.993436  117.127392  114.264631  108.461820  4.686398
13  119.626316  103.596787  115.895447  113.039517  4.727737
14   98.028540  107.804413   79.903127   95.245360  4.556456
15  105.396063  112.257154   86.176272  101.276496  4.617854
16  101.302135  108.035987   97.599364  102.312495  4.628032
17   96.000783  104.159310   98.456867   99.538987  4.600549
18  106.538112   93.965700  103.552436  101.352083  4.618600
19   87.738863  104.431569   87.691257   93.287230  4.535683
20  109.081455  106.807987   93.197928  103.029123  4.635012